* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background-image: url(../img/6108b580.jpg);
    background-size: cover;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex_align-cen {
    align-items: center;
}

.flex_justify-cen {
    justify-content: center;
}

.flex_justify-space-betw {
    justify-content: space-between;
}

.dati_viaggio {
    height: 350px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid red;
    border-radius: 0 30px 0 30px;
}

.dati_viaggio-item {
    /* margin-bottom: 40px; */
}

.dati_viaggio-item .title {
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.dati_viaggio-item .result {
    color: #9b0000;
}

#disclaimer {
    font-size: 12px;
    color: darkred;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    padding: 5px;
    border: 1px solid lightgray;
}